## Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rtifacts/

## Visual Studio / Rider / VS Code
.vs/
.vscode/
.idea/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

## Test results
TestResults/
*.trx

## Logs
*.log

## OS files
.DS_Store
Thumbs.db

## Azure DevOps artifacts
drop/

## Terraform (future tasks)
.terraform/
terraform.tfstate
terraform.tfstate.backup

## Secrets
*.env
appsettings.Development.json
dist/
wwwroot/
WebApp/Properties/launchSettings.json